.password-container {
    position: relative;
    display: inline-block;
  }
  
  .inputs {
    padding-right: 40px; /* Ajusta este valor según sea necesario */
  }
  
  #toggleButton {
    position: absolute;
    right: 5px; /* Ajusta este valor según sea necesario */
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  
  #toggleButton:focus {
    outline: none;
  }
  
  #toggleIcon {
    font-size: 16px;
    color: #888; /* Ajusta el color según tu preferencia */
  }
